.header{
  display: flex;
  width: 100%;
  height: 100px;
  background-color:#FFFFFF;
  border-top:solid 2px #FAA55C;
  border-bottom: solid 3px #F5F5F5;
}

.header-center{
  display: flex;
  width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-left{
  display: flex;
  align-items: center;
  width: 140px;
}

.header-left-content{
  flex-direction: column;
}

.header-catchcopy{
  margin-right: 10px;
  font-size: 12px;
  padding-bottom: 4px;
  color:#C6C6C6;
}

.title{
  margin-right: 10px;
  font-size: 27px;
  text-decoration: none; 
  color: black;
}

.header-form{
  display: flex;
  width: 700px;
  align-items: center;
}

.header-search{
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 15px;
}

.search-content{
  display: flex;
  margin-right: 5px;
  align-items: center;
  text-align: center;
}

.search-label{
  margin-right: 5px;
}

.search-form{
  height: 30px;
  width: 500px;
}

.search-submit{
  height: 30px;
}

.header-right{
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.nav{
  margin-top: 15px;
  width: 100%;
}

.menu-group{
  display: flex;
}

.menu-item{
  list-style: none;
  display: inline-block;
  margin-right: 35px;
  text-decoration: none;
  color: black;
}

a:visited {
  color:black;
}